.container-fluid {
    background: transparent url(../../resources/hero.jpg) repeat center;
    
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    min-height: 100vh;
    overflow: auto;
    background-size: cover;
    padding: 0px; 
    margin: 0px;
}

.wrapper {
    display: flex;
    align-items: stretch;
    margin:0px; 
    padding:0px;
    float: left;
    position: fixed;
    z-index: 0;
    
}

body {
    font-family: 'Poppins', sans-serif;
    background: #fafafa;
}

p {
    font-family: 'Poppins', sans-serif;
    font-size: 1.1em;
    font-weight: 300;
    line-height: 1.7em;
    color: #999;
}

a, a:hover, a:focus {
    color: inherit;
    text-decoration: none;
    transition: all 0.3s;
}

#sidebar {
    /* don't forget to add all the previously mentioned styles here too */
    background: #F4F7F6;
    color: black;
    font-weight: bold;
    text-align: center;
    transition: all 0.3s;
    min-width: 250px;
    max-width: 250px;
    /* background-color: red; */
    min-height: 100vh;
}

#sidebar .sidebar-header {
    padding: 20px;
}

#sidebar ul.components {
    padding: 20px 0;
    /* border-bottom: 1px solid #47748b; */
}

#sidebar ul p {
    color: #fff;
    padding: 10px;
}

#sidebar ul li a {
    padding: 10px;
    font-size: 1.1em;
    display: block;
}
#sidebar ul li a:hover {
    color: #82C7A5;
    background: #FAFAFA;
}

#sidebar ul li.active > a, a[aria-expanded="true"] {
    color: #82C7A5;
    font-weight: bold;
    background: #FAFAFA;

}

.mat-icon-button{
    border: none;
    outline: none;
}