.container-fluid {
    /* background: transparent url(../../resources/hero.jpg) repeat center; */
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    min-height: 100vh;
    background-size: cover;
    padding: 0px; 
    width: auto;
    margin-left: 4%;
    margin-right: 3%;
    margin-top: 5%;
    margin-bottom: 3%;
    z-index: inherit;
}

.filterButton {
    float:right;
    height: 100%;
}