<div class="container-fluid">
  <div class="row" style="display:inline-block; width:100%;">
    <h1 style="float:left">Emotion Analysis</h1>
    <mat-form-field class="filterButton">
      <mat-select placeholder="View data" [(ngModel)]="selected" (ngModelChange)="filter(selected)" >
        <mat-option value="1">Today's</mat-option>
        <mat-option value="2">All data</mat-option>
      </mat-select>
    </mat-form-field>
  </div>
  <p style="font-style: italic">"Ever wanted a <i><b>summary</b></i> of what your child is <i><b>feeling?</b></i> "</p>
  <div style="display: block">
      <canvas  id="canvas" (click)="pieClicked($event)"></canvas>
      <!-- <canvas  baseChart
              [data]="pieChartData"
              [labels]="pieChartLabels"
              [chartType]="pieChartType"
              [colors]="pieChartColor"
              [options]="pieChartOptions"
              (chartHover)="pieHovered($event)"
              (chartClick)="pieClicked($event)"></canvas> -->
  </div>
  

  <div id="chartDetailsID" style="margin-top: 2%" *ngIf="chartDetails">
    <h1>Speech Summary</h1>
    <p style="font-style: italic">"We summarize each speech under the <i><b>{{currentTopic}} category </b></i> into a cloud of <i><b>keywords</b></i>" </p>
    <div class="row">
      <div class="col-sm-12" style="height: auto;">
          <angular-tag-cloud style="margin: auto; width: 100%; height: auto; font-size: 10px; font-weight:bold"
          [data]="CloudData"
          [overflow]="options.overflow"
          [zoomOnHover]="zoomOnHoverOptions"
          (clicked)="cloudClicked($event)"></angular-tag-cloud>
      </div>
    </div>
  </div>


  <div id="test" *ngIf="cloudDetails">
      <h1>List of speeches </h1>
      <p style="font-style: italic">"We show you a list of speeches that contains the <b><i>keyword: {{keyword}}</i></b>" </p>
      <app-emotion-details *ngFor="let emotion of allEmotions" [currentEmotion]="emotion"  style="display: inline-block ; position: relative; z-index: 0;"></app-emotion-details>
  </div>


  <div style="margin-top:6%" id="emotionIndividual" *ngIf="emotionIndividual">
    <h1>Details of selected speech</h1>
    <p style="font-style: italic">" <b><i>Detailed</i></b> information regarding the selected <b><i>speech</i></b>"</p>
    <app-individual-details [emotionClass]="currentEmotionSet"></app-individual-details>
  </div>
  

</div>