<div class="container-fluid">
  <div class="row">
   <div class="col-sm-offset-4 col-sm-4 text-center padding-bottom">
     <div class="col-sm-8 col-sm-offset-2 login-box">
       <h2>Login</h2>
       <mat-form-field>
         <input matInput placeholder="Admin Number\Username" type="text">
       </mat-form-field>
       <mat-form-field>
         <input matInput placeholder="Password" type="password" >
       </mat-form-field>
       <mat-radio-group>
         <mat-radio-button value="Parent">Parent</mat-radio-button>
       </mat-radio-group>
       <p  style="color: red" *ngIf="this.error">Invalid Username/Password</p>
       <button mat-button class="text-center"  (click)="login()">Login</button>
     </div>
   </div>
  </div>
</div>