.container-fluid
{
  padding-top: 100px;
  background: transparent url(../resources/hero.jpg) repeat center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  width: 100%;
  height: auto;

  position: fixed;
  top: 0;
  left: 0;
  min-width: 100%;
  min-height: 100%;
}

mat-form-field
{
  margin: 0 auto;
  width: 90%;
}

input
{
  font-size: 20px;
}

.login-container
{
  display: flex;
  flex-direction: column;
}

button
{
  margin: 0 auto;
  background-color: #82C7A5;
  width: 70%;
}

.brand
{
  font-size: 40px;
  padding-bottom: 80px;
}

.padding-bottom
{
  padding-bottom: 15px;
}

.login-box
{
  padding-top: 50px;
  padding-bottom: 100px;
  border-radius: 2%;
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
