<!-- <h1>Topics Analysis</h1>
  <p style="font-style: italic">"Ever wondered what topics your child talk about?"</p>
    <div *ngIf="showChart">
        <div style="display: block">
          <canvas baseChart
                  [datasets]="barChartData"
                  [labels]="barChartLabels"
                  [options]="barChartOptions"
                  [legend]="barChartLegend"
                  [chartType]="barChartType"
                  [colors]="chartColors"
                  (chartHover)="chartHovered($event)"
                  (chartClick)="chartClicked($event)"></canvas>
        </div>
        
    </div>

    <div *ngIf="showTopicDetails">
        <app-topic-details *ngFor="let speech of activeSpeech" [speech]="speech" style="display: inline-block" ></app-topic-details>
    </div> -->

  <h1 style="margin-top:3%">Topics Analysis</h1>
  <p style="font-style: italic">"Ever wondered what topics your child talks about?"</p>
  <div class="row">
    <div class="col-md-12"  >
      <angular-tag-cloud style="margin: auto; width: 100%; height: auto; font-size: 10px; font-weight:bold ;"
      [data]="topicData"
      [width]="options.width"
      [overflow]="options.overflow"
      [zoomOnHover]="zoomOnHoverOptions"
      (clicked)="topicClicked($event)"
  ></angular-tag-cloud>
    </div>
  </div>
  
  <div>
    <p *ngIf="showEmotionChart" style="font-style: italic">"A chart that summarizes the emotions of all sentences under <b><i>{{topic}}</i></b>"</p>
    <div style="display: block;">
        <canvas  id="emotionChart" class="chartjs-render-monitor" (click)="topicEmotionClicked($event)"
         ></canvas>
        <!-- <canvas  baseChart
                [data]="pieChartData"
                [labels]="pieChartLabels"
                [chartType]="pieChartType"
                [colors]="pieChartColor"
                [options]="pieChartOptions"
                (chartHover)="pieHovered($event)"
                (chartClick)="pieClicked($event)"></canvas> -->
    </div>
    
  </div>
  

  <div *ngIf="showTopicDetails" style="margin-top: 5%;">
    <p style="font-style: italic">"All sentences that is tagged as <b><i>{{emotion}}</i></b> under {{topic}}"</p>
    <app-topic-details *ngFor="let emotion of activeSpeech" [emotion]="emotion" style="display: inline-block; " ></app-topic-details>
  </div> 
 
  <div *ngIf="showIndividualDetails" style="margin-top: 5%;">
    <h1>Details of selected speech</h1>
    <p style="font-style: italic">" <b><i>Detailed</i></b> information regarding the selected <b><i>speech</i></b>"</p>
    <app-individual-details [emotionClass]="currentTopicSet"></app-individual-details>
  </div> 
  


  