


.analyticsCard {
    margin-top: 5%;
    display: inline-block;
    margin: 2%;
    min-width: 15vw;
    width: auto;
    z-index: inherit;
  }
  
  .analyticsHeader {
    display: inline-block;
  }
  
  .cardHeader {
    margin: 2% 0% 0% 2%;
    display: inline-block;
  }
  
  
  .cardTitle {
    font-size: 20px !important;
  }
  
  .cardButtonDiv {
    margin: 0px 2% 0% 0%;
    text-align: right;
  }
  
  .cardIcon {
    word-wrap: break-word;
  }
  
  .cardButton {
    outline: none;
    width: 100%;
  }
  
  h3 {
    margin: 2% 0% 0% 2%;
  }
  
  #analyticsSlideCard {
    display: inline-block;
    width: 100%;
  }

  .squarebuttonstyle {
    color:  #fafafa !important;
    width: 100%;
    font-size: 14px;
    height: 40px;
    text-align: center;
  }

  .one {
    background-color: #ED5565;
  }

  .two {
    background: #FC6E51;
  }

  .three {
    background: #ffce54;
  }

  .four {
    background-color: #48cfad;
  }

  .five {
    background-color: #4FC1E9;
  }

  .six {
    background-color: #AC92ec;
  }



  
  
  @media only screen and (max-width : 768px) {
    .analyticsCard {
      width: 400px;
      display: inline-block;
      margin: 2%;
    }
  }
  