.container-style {
    background-color: pink; 
    width: auto;
    display: inline-block;
    height: 50px;
    margin-left: 1%;
    margin-right: 1%;
   
    
    
}

.container-row {
    margin-top: 3%;
    margin-bottom: 6%;
    width: 100%;
}

.container-fluid {
    z-index: 0;
    position: relative;
}