.container-fluid {
    /* background: transparent url(../../resources/hero.jpg) repeat center; */
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    min-height: 100vh;
    background-size: cover;
    padding: 0px; 
    width: auto;
    margin-left: 4%;
    margin-right: 3%;
    margin-top: 5%;
    margin-bottom: 3%;
}

.example-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
  }
  
  .example-full-width {
    width: 100%;
  }

  .example-headers-align .mat-expansion-panel-header-title, 
.example-headers-align .mat-expansion-panel-header-description {
  flex-basis: 0;
}

.example-headers-align .mat-expansion-panel-header-description {
  justify-content: space-between;
  align-items: center;
}
