<head>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>
</head>
<div class="container-fluid">
  <h1>Personalise</h1>
  <p style="font-style: italic">"Ever wondered what you can personalise?"</p>

  <mat-accordion>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Play Songs on MiMiBot
        </mat-panel-title>
        <mat-panel-description>
          Type the youtube link to MiMiBot
        </mat-panel-description>
      </mat-expansion-panel-header>

      <mat-form-field class="example-full-width">
          <input matInput placeholder="Song Name" >
        </mat-form-field>
      <mat-form-field class="example-full-width">
        <input matInput placeholder="Youtube Video Link" >
      </mat-form-field>
     



      <mat-action-row>

        <button mat-button color="primary" (click)="submitSong()">Submit</button>
      </mat-action-row>
    </mat-expansion-panel>
    
  </mat-accordion>
  <mat-accordion>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Upload Games to MiMiBot
        </mat-panel-title>
        <mat-panel-description>
          Brain Games
        </mat-panel-description>
      </mat-expansion-panel-header>
  
      <mat-form-field class="example-full-width">
          
        <input matInput placeholder="Youtube Video Link" >
      </mat-form-field>
      <mat-action-row>

        <button mat-button color="primary" (click)="submitSong()">Submit</button>
      </mat-action-row>
    </mat-expansion-panel>
    
  </mat-accordion>
  
  <mat-form-field>
  <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
</mat-form-field>

<div class="mat-elevation-z8">
  <table mat-table [dataSource]="dataSource" matSort>

    <!-- ID Column -->
    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> ID </th>
      <td mat-cell *matCellDef="let row"> {{row.id}} </td>
    </ng-container>

    <!-- Progress Column -->
    <ng-container matColumnDef="progress">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Progress </th>
      <td mat-cell *matCellDef="let row"> {{row.progress}}% </td>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Name </th>
      <td mat-cell *matCellDef="let row"> {{row.name}} </td>
    </ng-container>

    <!-- Color Column -->
    <ng-container matColumnDef="color">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Color </th>
      <td mat-cell *matCellDef="let row" [style.color]="row.color"> {{row.color}} </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;">
    </tr>
  </table>

  <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
</div>

  

</div>

