<head>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>
</head>
<div class="container-fluid">
  <h1>Personalise</h1>
  <p style="font-style: italic">"Ever wondered what you can personalise?"</p>

  <mat-accordion>
      <form class="example-full-width" (ngSubmit)="submitSong()" >
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Play Songs on MiMiBot
        </mat-panel-title>
        <mat-panel-description>
         Upload Mp3 to MiMiBot
        </mat-panel-description>
      </mat-expansion-panel-header>
     
      <mat-form-field class="example-full-width">
          <input matInput placeholder="Song Name" id="songName" name="songName" [(ngModel)]="upload.songName" >
        </mat-form-field>
   
          <input type="file" id="songLink" name="songLink"  (change)="fileChange($event)" placeholder="Upload file" accept=".mp3">
     
      
     



      <mat-action-row>

        <button mat-button color="primary" type="submit" >Submit</button>
     
      </mat-action-row>
    </mat-expansion-panel>
    </form>
  </mat-accordion>
  <mat-accordion>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Upload Games to MiMiBot
        </mat-panel-title>
        <mat-panel-description>
          Brain Games
        </mat-panel-description>
      </mat-expansion-panel-header>
  
      <mat-form-field class="example-full-width">
          
        <input matInput placeholder="Youtube Video Link" >
      </mat-form-field>
      <mat-action-row>

        <button mat-button color="primary" (click)="submitSong()">Submit</button>
      </mat-action-row>
    </mat-expansion-panel>
    
  </mat-accordion>
  
  
    
            <mat-form-field>
              <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
            </mat-form-field>
          
          <mat-table #table [dataSource]="dataSource" attr.id="{{x}}" matsort>
  
        
            <ng-container matColumnDef="songName" attr.id="{{x}}">
              <mat-header-cell *matHeaderCellDef attr.id="{{x}}"> Song Name </mat-header-cell>
              <mat-cell *matCellDef="let element" attr.id="{{x}}"> {{element.songName}} </mat-cell>
            </ng-container>
  
          
            <ng-container matColumnDef="songLink" attr.id="{{x}}">
              <mat-header-cell *matHeaderCellDef attr.id="{{x}}"> Song Link </mat-header-cell>
              <mat-cell *matCellDef="let element" attr.id="{{x}}"> {{element.songLink}} </mat-cell>
            </ng-container>
  
          
         
  
  
            <mat-header-row *matHeaderRowDef="displayedColumns" attr.id="{{x}}"></mat-header-row> 
            <mat-row *matRowDef="let row; columns: displayedColumns;let x = index;"   (click)="tableClick(row)" attr.id="{{x}}" ></mat-row>
          
          </mat-table>
  
      
  <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>


  

</div>

