<div class="container-fluid">
    <div class="dashboard-overview">
        <app-dashboard-overview></app-dashboard-overview>
    </div>
    <app-topic-analysis *ngIf="showChart" [dataList]="dataList"></app-topic-analysis>
    <app-emotion-analysis *ngIf="showChart" [dataList]="dataList"></app-emotion-analysis>

</div>


<!-- <div class="container-fluid">
    <h1>Sentiment Analysis</h1>
    <p style="font-style: italic">"Ever wondered whether your child is upset or happy"</p>
    <p> Building in progress</p>
    <div *ngIf="showChart" style="display: block">
        <canvas baseChart
                [data]="pieChartData"
                [labels]="pieChartLabels"
                [chartType]="pieChartType"
                [colors]="pieChartColor"
                (chartHover)="pieHovered($event)"
                (chartClick)="pieClicked($event)"></canvas>
      </div> -->




<!--
    <div>
        <angular-tag-cloud
          [data]="data"
          [width]="options.width"
          [height]="options.height"
          [overflow]="options.overflow">
        </angular-tag-cloud>
      </div> -->