<div class="container-fluid">
  <h1>Topics Analysis</h1>
  <p style="font-style: italic">"Ever wondered what topics your child talk about?"</p>
    <div *ngIf="showChart">
        <div style="display: block">
          <canvas baseChart
                  [datasets]="barChartData"
                  [labels]="barChartLabels"
                  [options]="barChartOptions"
                  [legend]="barChartLegend"
                  [chartType]="barChartType"
                  [colors]="chartColors"
                  (chartHover)="chartHovered($event)"
                  (chartClick)="chartClicked($event)"></canvas>
        </div>
        
    </div>

    <div *ngIf="showTopicDetails">
        <app-topic-details *ngFor="let speech of activeSpeech" [speech]="speech" style="display: inline-block" ></app-topic-details>
    </div>

    <app-emotion-analysis *ngIf="showChart" [dataList]="dataList"></app-emotion-analysis>

</div>


<!-- <div class="container-fluid">
    <h1>Sentiment Analysis</h1>
    <p style="font-style: italic">"Ever wondered whether your child is upset or happy"</p>
    <p> Building in progress</p>
    <div *ngIf="showChart" style="display: block">
        <canvas baseChart
                [data]="pieChartData"
                [labels]="pieChartLabels"
                [chartType]="pieChartType"
                [colors]="pieChartColor"
                (chartHover)="pieHovered($event)"
                (chartClick)="pieClicked($event)"></canvas>
      </div> -->
    
    
    
    
    <!--
    <div>
        <angular-tag-cloud
          [data]="data"
          [width]="options.width"
          [height]="options.height"
          [overflow]="options.overflow">
        </angular-tag-cloud>
      </div> -->