
.row {
  width: 100%; padding: 0px; margin:0px;
}
.myContent {
    margin: 0px;
    padding: 0px;
    height: 100vh;
    width: 100%;
}
.container-fluid
{
  margin: 0px; 
  padding: 0px;
  height: 100% !important;
}
    
*{
  margin: 0;
  padding: 0;
}

p {
  font-size: 300px !important;
}
    